$fz-main: 15px;
$fz-sm: 14px;
$fz-md: 16px;
$fz-big: 18px;
$fz-heading: 47px;

$font-light: 100;
$font-regular: 400;
$font-bold: 700;
$font-extrabold: 800;

$heading-font-color: #000;

$accent-color: #f7e296;
$yellow-color: #f0c52e;
$gray-color: #ebebeb;
$darken-gray-color: #dcdcdc;
$lighten-black-color: #464646;