.heading {
    color: $heading-font-color;
    font-family: "Gilroy-ExtraBold", sans-serif;
    font-size: $fz-heading;
    letter-spacing: 0.47px;
    line-height: 56px;
    &--line {
        &:before {
            content: "";
            display: block;
            width: 100px;
            height: 7px;
            background: #fff;
            margin-bottom: 45px;
        }
        &-black:before {
            width: 80px;
            background: #000;
        }
    }
}