.swiper.swiper-container
	.swiper__wrapper.swiper-wrapper
		.swiper__slide.swiper__slide--one.swiper-slide
			.swiper__left
				img.swiper__img(src="../img/slider/slide1.png" alt="slide")
			.swiper__right
				h2.swiper__heading.heading.heading--line Делай селфи,<br>как Бен Стиллер!
				.swiper__description Самая длинная палка для селфи доступна в нашем магазине. Восемь (Восемь, Карл!) метров длиной и весом всего 5 килограмм
				+btn("#", "Подробнее")(class="swiper__btn btn")
				.swiper__details
					.swiper__details-item
						.swiper__details-title 8,5 м
						.swiper__details-subtitle Длина палки
					.swiper__details-item
						.swiper__details-title 5 кг
						.swiper__details-subtitle Вес палки
					.swiper__details-item
						.swiper__details-title Карбон
						.swiper__details-subtitle Материал
		.swiper__slide.swiper__slide--two.swiper-slide
			.swiper__left
				img.swiper__img(src="../img/slider/slide2.png" alt="slide")
			.swiper__right
				h2.swiper__heading.heading.heading--line Худеем<br>правильно!
				.swiper__description Мотивирующие фитнес-браслеты помогут найти в себе силы не пропускать занятия и соблюдать диету
				+btn("#", "Подробнее")(class="swiper__btn btn")
				.swiper__details
					.swiper__details-item
						.swiper__details-title 48 часов
						.swiper__details-subtitle Без подзарядки
		.swiper__slide.swiper__slide--three.swiper-slide
			.swiper__left
				img.swiper__img(src="../img/slider/slide3.png" alt="slide")
			.swiper__right
				h2.swiper__heading.heading.heading--line Порхает как бабочка,<br>жалит как пчела!
				.swiper__description Этот обычный, на первый взгляд, квадрокоптер оснащен мощным лазером, замаскированным под стандартную камеру
				+btn("#", "Подробнее")(class="swiper__btn btn")
				.swiper__details
					.swiper__details-item
						.swiper__details-title 800 м
						.swiper__details-subtitle Дальность полета
					.swiper__details-item
						.swiper__details-title 50 м
						.swiper__details-subtitle Дальность поражения
	.swiper__pagination.swiper-pagination