.services
	.services__wrapper
		.services__tabs
			.services__tabs-items
				button.services__tab.services__tab--active Доставка
				button.services__tab Гарантия
				button.services__tab Кредит
		.services__content
			.services__info
				.services__info-description
					h2.services__info-heading.heading Доставка
					.services__info-subheading Мы с удовольствием доставим ваш товар прямо к вашему подъезду совершенно бесплатно! Ведь мы неплохо заработаем, поднимая его на ваш этаж.
				img.services__info-img.services__info-img--delivery(src="../img/sprites/sprite.svg#delivery" alt="service")
			.services__info
				.services__info-description
					h2.services__info-heading.heading Гарантия
					.services__info-subheading Если из-за возгорания купленного у нас товара у вас сгорит дом — не переживайте, мы выдадим вам новый. Товар, не дом, конечно же.
				img.services__info-img.services__info-img--warranty(src="../img/sprites/sprite.svg#warranty" alt="service")
			.services__info
				.services__info-description
					h2.services__info-heading.heading Кредит
					.services__info-subheading Залезть в долговую яму стало проще! Кредитные консультанты подберут для вас наиболее выгодные условия кредита. Выгодные для нашего банка, разумеется.
				img.services__info-img.services__info-img--credit(src="../img/sprites/sprite.svg#credit" alt="service")