.partners
	.partners__wrapper
		a.partners__link(href="#")
			img.partners__img(src="../img/partners/dji.jpg" alt="partner")
		a.partners__link(href="#")
			img.partners__img(src="../img/partners/sp-gadgets.jpg" alt="partner")
		a.partners__link(href="#")
			img.partners__img(src="../img/partners/go-pro.jpg" alt="partner")
		a.partners__link(href="#")
			img.partners__img(src="../img/partners/vive.jpg" alt="partner")