.featured-products
	.featured-products__wrapper
		a.featured-products__link(href="#")
			figure.featured-products__item
				.featured-products__img-wrapper
					img.featured-products__img(src="../img/featured-products/popular-1.svg" alt="featured-product")
				figcaption.featured-products__title Виртуальная реальность
		a.featured-products__link(href="#")
			figure.featured-products__item
				.featured-products__img-wrapper.featured-products__img-wrapper--fix
					img.featured-products__img(src="../img/featured-products/popular-2.svg" alt="featured-product")
				figcaption.featured-products__title Моноподы для селфи
		a.featured-products__link(href="#")
			figure.featured-products__item
				.featured-products__img-wrapper
					img.featured-products__img(src="../img/featured-products/popular-3.svg" alt="featured-product")
				figcaption.featured-products__title Экшн-камеры
		a.featured-products__link(href="#")
			figure.featured-products__item
				.featured-products__img-wrapper
					img.featured-products__img(src="../img/featured-products/popular-4.svg" alt="featured-product")
				figcaption.featured-products__title Фитнес-браслеты
		a.featured-products__link(href="#")
			figure.featured-products__item
				.featured-products__img-wrapper
					img.featured-products__img(src="../img/featured-products/popular-5.svg" alt="featured-product")
				figcaption.featured-products__title Умные часы
		a.featured-products__link(href="#")
			figure.featured-products__item
				.featured-products__img-wrapper
					img.featured-products__img(src="../img/featured-products/popular-6.svg" alt="featured-product")
				figcaption.featured-products__title Квадрокоптеры