.breadcrumbs
	.breadcrumbs__wrapper
		h2.breadcrumbs__heading.heading Моноподы для селфи
		ul.breadcrumbs__list
			li.breadcrumbs__item
				a.breadcrumbs__link(href="/") Главная
			li.breadcrumbs__item
				a.breadcrumbs__link(href="catalog.html") Каталог товаров
			li.breadcrumbs__item
				a.breadcrumbs__link(href="#") Моноподы для селфи