footer.footer
	.footer__inner
		.footer__top
			h1.logo.logo--footer
				a.logo-link.logo-link--footer(href="/") Device
			ul.user-menu.user-menu--footer
				li.user-menu__item
					a.user-menu__link.user-menu__link--footer(href="#")
						i.icon.icon-user
						| Войти
				li.user-menu__item
					a.user-menu__link.user-menu__link--footer(href="#")
						i.icon.icon-compare
						| Сравнить
				li.user-menu__item
					a.user-menu__link.user-menu__link--footer(href="#")
						i.icon.icon-cart
						| Корзина
		.footer__middle
			address.footer__address г. Москва, ул. Строителей, 15
			ul.menu.menu--footer
				li.menu__item
					a.menu__link.menu__link--footer(href="#") Доставка
				li.menu__item
					a.menu__link.menu__link--footer(href="#") Гарантия
				li.menu__item
					a.menu__link.menu__link--footer(href="#") Контакты
			.footer__phone Тел.: +7 (495) 495-95-95
		.footer__bottom
			.footer__links
				a.footer__link.icon.icon-fb(href="#" aria-label="facebook-social")
				a.footer__link.icon.icon-vk(href="#" aria-label="vk-social")
				a.footer__link.icon.icon-twitter(href="#" aria-label="twitter-social")
				a.footer__link.footer__link--htmlacademy.icon.icon-html(href="https://htmlacademy.ru/" target="_blank" aria-label="site" rel="noreferrer")
